transformers==4.51.3
streamlit==1.30.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch
accelerate==0.26.0
https://github.com/bitsandbytes-foundation/bitsandbytes/releases/download/continuous-release_main/bitsandbytes-1.33.7.preview-py3-none-manylinux_2_24_x86_64.whl